.file_upload_container {
  border: 1px dashed #ccc;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.4rem;
  cursor: pointer;
  transition: all 0.4s;
}
.file_upload_container span {
  font-size: 14px;
  font-weight: 400;
  color: gray;
  text-transform: capitalize;
}

.file_upload_container:hover {
  border-color: black;
}

.file_upload_container svg {
  color: gray;
  font-size: 1.4rem;
}

.file_upload_container:hover > * {
  color: black;
  transition: all 0.3s;
}
.file_preview_container {
  padding: 1rem 0;
}
